<!--

Here is a queue that will be present.

  <queue>
    <name>queue_name</name>
    <rate>100/s</rate>
    <target>you_version</target>
    <app>project_id</app>
  </queue>

-->

<queue-entries>
    <queue>
        <name>high-frequency</name>
        <rate>10/s</rate>
        <target>prod-dot-daigou</target>
        <bucket-size>100</bucket-size>
    </queue>
</queue-entries>
